<h1 class="title">Расходы</h1>

<div class="cards-items d-flex flex-wrap g-20" id="categories">

<!--    <div class="card">-->
<!--        <div class="card-body">-->
<!--            <h5 class="card-title">Жильё</h5>-->
<!--            <a href="/#/edit_expenses" class="btn btn-primary">Редактировать</a>-->
<!--            <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal">Удалить</a>-->
<!--        </div>-->
<!--    </div>-->

    <a href="/#/create_expense" class="card">
        <div class="card-body d-flex align-items-center justify-content-center">
            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.5469 6.08984V9.05664H0.902344V6.08984H14.5469ZM9.32422 0.511719V15.0039H6.13867V0.511719H9.32422Z"
                      fill="#CED4DA"/>
            </svg>
        </div>
    </a>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>Вы действительно хотите удалить категорию? </p>

                <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="delete-category">Да, удалить</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Не удалять</button>
            </div>
        </div>
    </div>
</div>
