<h1 class="title">Редактирование дохода/расхода</h1>

<form class="create-form">
    <div class="form-group">
        <input type="text" class="form-control" id="inputType" placeholder="Тип..." >
    </div>
    <div class="form-group">
        <select class="form-select" aria-label="Default select example" id="inputCategory">
        </select>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="inputCount" placeholder="Сумма в $...">
    </div>
    <div class="form-group">
        <input type="date" class="form-control" id="inputDate" placeholder="Дата...">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="inputComment" placeholder="Комментарий...">
    </div>
    <button type="button" class="btn btn-success" id="edit-btn">Сохранить</button>
    <button type="button" class="btn btn-danger" id="cansel-edit">Отмена</button>
</form>
